body {background-color: lightgray}
a {font-weight: bold; color: red}]
table {
			
			border-collapse: collapse;
			width: 80%;
			padding: 10px
			margin: auto;
			}
table, td, th {border: 1px solid}
h1{text-align: center;}
dt {font-weight: bold;}
img{border: 2px solid black}